.drink {
    width: 20rem;
  }
  
  .drink__product {
    display: flex;
  }
  
  .drink__cup {
    width: 9rem;
    height: 9rem;
  }
  
  .drink__cup img {
    width: 9rem;
    height: 9rem;
  }
  
  .drink__info {
    margin-left: 1rem;
  }
  
  .drink__controls {
    margin-top: 1rem;
  
    text-align: center;
  }


  

/*   .layer {
    display: flex;
    padding: 0.25rem;
  }
  
  .layer__color {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
  
    background-color: brown;
    box-shadow: 0 0 5px #333;
  }
  
  .layer__label {
    height: 1rem;
  
    line-height: 1rem;
  } */