.new-task {
    flex: 1;
    height: 2rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
    line-height: 2rem;
    margin-left: 0.5rem;
    padding: 0 0.75rem;
    outline: none;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 2rem;
    padding-bottom: 0.5rem;
  }
  
  .task:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  
  .task__done {
    font-size: 150%;
    font-weight: bold;
  }
  
  .task__due {
    margin-top: 0.25rem;
    color: #777;
    font-size: 0.8rem;
  }