form{
    width: 50%;
    
    margin: auto;
    display: flex;
    justify-content: space-around !important;
}
  
form .formButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}